In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

data_file = 'All_Metro.txt'
metro_df=pd.read_csv(data_file, delim_whitespace=True)

In [3]:
metro_df.head()

,Date,ROTP,RailReliability,MetroAccessOTP,EscalatorAvail,ElevatorAvail,TotalInjuries,Crime,Ridership
0,201101,0.879,48241,0.901,0.888,96.30%,2.08,6.39,21082553
1,201102,0.887,37703,0.890,0.866,96.00%,1.66,4.68,21228262
2,201103,0.910,50328,0.913,0.869,96.90%,2.16,3.96,26170157
3,201104,0.909,39302,0.912,0.862,96.40%,2.21,4.72,25656797
4,201105,0.909,37355,0.922,0.825,97.40%,1.69,7.32,24342603

In [6]:
metro_df[['Date','Ridership']].to_csv('metro.csv')